<body>
  <header>
    <div class="content-wrapper">
      <div class="float-left">
        <p class="site-title">
          <a href="/" id="A2">
            <img id="Logo"
                 src="assets/img/logo.jpg" style="border-style: None;">
          </a>
        </p>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer>
    <div class="content-wrapper">
      <div class="float-left">
        <p>OrderDynamics Coding Exercise</p>
      </div>
    </div>
  </footer>
</body>
